//1259px

@media (max-width: 78.6875em){
  .section-about .col-1-of-2:first-child{
    width: 45%;
  }

  .section-about .row [class^="col-"]:not(:last-child) {
    margin-right: 5rem;
  }
}

//1225px
@media (max-width: 76.5625em){
  body{
    padding: 0;
  }

  .navigation__button{
    top: 3.5rem;
    right: 3.5rem;
  }

  .navigation__background{
    top: 4rem;
    right: 4rem;
  }
}

//1139px
@media (max-width: 71.1875em){

}

//1040px
@media (max-width: 65em){
  
}


//959px
@media (max-width: 59.9375em){
  
}
