//1250px

@media (max-width: 78.125em){
  // html{
  //   font-size: 57.5%;
  // }
  
}

//1125px
@media (max-width: 70.3125em){
  // html{
  //   font-size: 53.5%;
  // }
}

//1050px
@media (max-width: 65.625em){
  // html{
  //   font-size: 50%;
  // }
}

//959px
@media (max-width: 59.9375em){
  body{
    padding: 0;
  }
}

//QUERY FOR FONT SIZES. This only change the font size
//AA
@media (min-width: 858px) {
  html {
      font-size: 12px;
  }
}

@media (min-width: 780px) {
  html {
      font-size: 11px;
  }
}

@media (min-width: 702px) {
  html {
      font-size: 10px;
  }
}

@media (min-width: 724px) {
  html {
      font-size: 9px;
  }
}

@media (max-width: 623px) {
  html {
      font-size: 8px;
  }
}