 //utilities are reusable components
 .u-center-text{
   text-align: center;
 }
 .u-left-text{
  text-align: left;
}

 //utility for margin bottom 8rem
 .u-margin-bottom-small{
   margin-bottom: 1.2rem;
 }
 .u-margin-bottom-medium{
  margin-bottom: 4rem;
}
.u-margin-bottom-big{
  margin-bottom: 8rem;
}


//utility for margin top
.u-margin-top-big{
  margin-top: 9rem;
}
.u-margin-top-medium{
  margin-top: 4rem;
}
